.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-element);
  color: var(--foreground);
}

.body {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 24px;
  background-color: var(--background-element);
}
